[user]
	name = Christofer Bäcklin
	email = backlin@users.noreply.github.com
[alias]
	co = checkout
	br = branch -vv --sort=committerdate
	ci = commit
	st = status
[core]
	pager = less
[diff]
	tool = difft
[merge]
	tool = mergiraf
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
